cloundant new.json
[{"id":"3c5383cf.55ef6c","type":"tab","label":"Cloudant","disabled":false,"info":""},{"id":"f50291ae.2f348","type":"ui_form","z":"3c5383cf.55ef6c","name":"","label":"","group":"39164451.11907c","order":0,"width":0,"height":0,"options":[{"label":"Enter name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter roll number","value":"rollno","type":"text","required":true,"rows":null},{"label":"Enter the gender","value":"gender","type":"text","required":true,"rows":null},{"label":"Enter phone number","value":"phno","type":"number","required":true,"rows":null},{"label":"Enter email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"pwd","type":"password","required":true,"rows":null},{"label":"College name","value":"college","type":"text","required":true,"rows":null},{"label":"Enter Branch","value":"branch","type":"text","required":true,"rows":null},{"label":"Enter year of passing","value":"yop","type":"number","required":true,"rows":null}],"formValue":{"name":"","rollno":"","gender":"","phno":"","email":"","pwd":"","college":"","branch":"","yop":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":220,"wires":[["ef15c165.477d4","6f603aae.136ac4"]]},{"id":"14a17737.8662a9","type":"cloudant out","z":"3c5383cf.55ef6c","name":"","cloudant":"","database":"student_details","service":"node-red-harsa-cloudant-1591905342695-77799","payonly":true,"operation":"insert","x":580,"y":180,"wires":[]},{"id":"ef15c165.477d4","type":"function","z":"3c5383cf.55ef6c","name":"","func":"msg.payload= {\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Rollno:msg.payload.rollno,\n    Gender:msg.payload.gender,\n    Phonenumber:msg.payload.phno,\n    Email:msg.payload.email,\n    Password:msg.payload.pwd,\n    Branch:msg.payload.branch,\n    College:msg.payload.college,\n    YearofPassing:msg.payload.yop,\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["14a17737.8662a9"]]},{"id":"6f603aae.136ac4","type":"function","z":"3c5383cf.55ef6c","name":"","func":"msg.payload=\"Hey!\"+msg.payload.name+\", Registration Successful\"\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["6afc66c0.a07858"]]},{"id":"6afc66c0.a07858","type":"ui_text","z":"3c5383cf.55ef6c","group":"39164451.11907c","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":340,"wires":[]},{"id":"211c339d.507c5c","type":"ui_form","z":"3c5383cf.55ef6c","name":"","label":"","group":"c4803b42.b2dfb8","order":0,"width":0,"height":0,"options":[{"label":"Enter email id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"email":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":500,"wires":[["cfbc5df.9ebc1a"]]},{"id":"cfbc5df.9ebc1a","type":"function","z":"3c5383cf.55ef6c","name":"","func":"global.set(\"email\",msg.payload,email);\nglobal.set(\"pwd\",msg.payload,email);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["b950ed53.21bfc"]]},{"id":"52b018ed.512c48","type":"cloudant in","z":"3c5383cf.55ef6c","name":"","cloudant":"","database":"student_details","service":"node-red-harsa-cloudant-1591905342695-77799","search":"_id_","design":"","index":"","x":560,"y":520,"wires":[["e0f0a363.512c2"]]},{"id":"b950ed53.21bfc","type":"function","z":"3c5383cf.55ef6c","name":"","func":"var email =global.get(\"email\")\nmsg.payload={\n        \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":580,"wires":[["52b018ed.512c48"]]},{"id":"e0f0a363.512c2","type":"debug","z":"3c5383cf.55ef6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":460,"wires":[]},{"id":"39164451.11907c","type":"ui_group","z":"","name":"registration","tab":"933abb77.eaab38","order":2,"disp":true,"width":"6","collapse":false},{"id":"c4803b42.b2dfb8","type":"ui_group","z":"","name":"Page","tab":"fd0380ab.aa29a","order":1,"disp":true,"width":"6","collapse":false},{"id":"933abb77.eaab38","type":"ui_tab","z":"","name":"student","icon":"dashboard","order":2,"disabled":true,"hidden":true},{"id":"fd0380ab.aa29a","type":"ui_tab","z":"","name":"Login ","icon":"dashboard","order":4,"disabled":false,"hidden":false}]