forms flow node red.json
[{"id":"4a091193.7d073","type":"tab","label":"Forms","disabled":false,"info":""},{"id":"2435420f.efa4ce","type":"inject","z":"4a091193.7d073","name":"","topic":"HELLO WORLD","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":40,"wires":[["64970568.c0b99c"]]},{"id":"64970568.c0b99c","type":"debug","z":"4a091193.7d073","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":60,"wires":[]},{"id":"799e3b7a.1e1ec4","type":"ui_form","z":"4a091193.7d073","name":"","label":"","group":"c2882702.c1fc48","order":1,"width":0,"height":0,"options":[{"label":"Enter the name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter the password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Enter the phone number","value":"phno","type":"number","required":true,"rows":null}],"formValue":{"name":"","email":"","pwd":"","phno":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":280,"wires":[["7cff36d6.425568","26bd3202.d08abe"]]},{"id":"9187ae0f.b1a51","type":"debug","z":"4a091193.7d073","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":280,"wires":[]},{"id":"7cff36d6.425568","type":"function","z":"4a091193.7d073","name":"","func":"msg.payload=\"Hey\"+msg.payload.name+\",Registration Successful\"\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":400,"wires":[["9187ae0f.b1a51","90158484.8bdeb8"]]},{"id":"90158484.8bdeb8","type":"ui_text","z":"4a091193.7d073","group":"eafb6809.b6acf8","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":380,"wires":[]},{"id":"890a6e02.15798","type":"ui_text","z":"4a091193.7d073","group":"4920e27b.bdccac","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":220,"wires":[]},{"id":"26bd3202.d08abe","type":"function","z":"4a091193.7d073","name":"","func":"msg.payload=\"This is a Welcome Page.This is a demo to create a tab\"\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["890a6e02.15798"]]},{"id":"c2882702.c1fc48","type":"ui_group","z":"","name":"Form","tab":"f8dc3af3.f35818","order":1,"disp":true,"width":"6","collapse":false},{"id":"eafb6809.b6acf8","type":"ui_group","z":"","name":"Response","tab":"f8dc3af3.f35818","order":3,"disp":true,"width":"6","collapse":false},{"id":"4920e27b.bdccac","type":"ui_group","z":"","name":"Message","tab":"933abb77.eaab38","order":1,"disp":true,"width":"6","collapse":false},{"id":"f8dc3af3.f35818","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"933abb77.eaab38","type":"ui_tab","z":"","name":"student","icon":"dashboard","order":2,"disabled":true,"hidden":true}]