stats flow node red.json
[{"id":"f6b4f919.c96298","type":"tab","label":"stats","disabled":false,"info":""},{"id":"41bb5bb2.cb1754","type":"ui_button","z":"f6b4f919.c96298","name":"","group":"bea576ee.acdfb8","order":1,"width":0,"height":0,"passthru":false,"label":"Hello","tooltip":"","color":"Black","bgcolor":"White","icon":"","payload":"Welcome Folks","payloadType":"str","topic":"","x":55,"y":200,"wires":[["d255b6b4.30a3a8","2613b11c.9dfd7e","208e8d14.d36662","b6d0213.1c9ebe"]],"l":false},{"id":"d255b6b4.30a3a8","type":"debug","z":"f6b4f919.c96298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":260,"wires":[]},{"id":"2613b11c.9dfd7e","type":"ui_text","z":"f6b4f919.c96298","group":"bea576ee.acdfb8","order":1,"width":0,"height":0,"name":"","label":"click hello","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":200,"wires":[]},{"id":"331c8ff1.6e162","type":"ui_gauge","z":"f6b4f919.c96298","name":"","group":"3e5a0b19.b3f1c4","order":2,"width":0,"height":0,"gtype":"wave","title":"Production of wheat","label":"units","format":"{{value}}","min":0,"max":"250","colors":["#ef0125","#f0f40b","#49e61e"],"seg1":"75","seg2":"150","x":400,"y":380,"wires":[]},{"id":"a41d97fb.637108","type":"ui_slider","z":"f6b4f919.c96298","name":"","label":"slider for wheat","tooltip":"","group":"98258198.3249","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"250","step":1,"x":160,"y":440,"wires":[["331c8ff1.6e162","7b6cbd6.25a1144","f1351a5a.290b78"]]},{"id":"7b6cbd6.25a1144","type":"ui_chart","z":"f6b4f919.c96298","name":"","group":"67aa8a7f.b8cb34","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#25d425","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":420,"wires":[[]]},{"id":"f1351a5a.290b78","type":"ui_chart","z":"f6b4f919.c96298","name":"","group":"67aa8a7f.b8cb34","order":3,"width":"0","height":"0","label":"chart","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#8445bf","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":460,"wires":[[]]},{"id":"208e8d14.d36662","type":"ui_audio","z":"f6b4f919.c96298","name":"","group":"bea576ee.acdfb8","voice":"en-US","always":"","x":300,"y":120,"wires":[]},{"id":"b6d0213.1c9ebe","type":"ui_text","z":"f6b4f919.c96298","group":"69e020bc.1eeb2","order":0,"width":0,"height":0,"name":"","label":"Kindly register to view more","format":"","layout":"col-center","x":240,"y":320,"wires":[]},{"id":"31c8f96a.6ec086","type":"ui_slider","z":"f6b4f919.c96298","name":"","label":"slider for rice","tooltip":"","group":"98258198.3249","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"200","step":1,"x":140,"y":520,"wires":[["baf8779a.484c28"]]},{"id":"baf8779a.484c28","type":"ui_gauge","z":"f6b4f919.c96298","name":"","group":"3e5a0b19.b3f1c4","order":3,"width":0,"height":0,"gtype":"gage","title":"Production of rice","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#e70808","#e6e600","#4bd917"],"seg1":"50","seg2":"100","x":380,"y":540,"wires":[]},{"id":"bea576ee.acdfb8","type":"ui_group","z":"","name":"Welcome","tab":"1f4efc93.2720e3","order":1,"disp":true,"width":"6","collapse":false},{"id":"3e5a0b19.b3f1c4","type":"ui_group","z":"","name":"Analog","tab":"47854e95.a3748","order":2,"disp":true,"width":"6","collapse":false},{"id":"98258198.3249","type":"ui_group","z":"","name":"Analog2","tab":"47854e95.a3748","order":2,"disp":true,"width":"6","collapse":false},{"id":"67aa8a7f.b8cb34","type":"ui_group","z":"","name":"graphs for wheat","tab":"47854e95.a3748","order":3,"disp":true,"width":"6","collapse":false},{"id":"69e020bc.1eeb2","type":"ui_group","z":"","name":"Hey","tab":"1f4efc93.2720e3","order":2,"disp":true,"width":"6","collapse":false},{"id":"1f4efc93.2720e3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"47854e95.a3748","type":"ui_tab","z":"","name":"Stats","icon":"dashboard","disabled":false,"hidden":false}]